<footer class="ftco-footer ftco-no-pt">
<div class="container">
<div class="row mb-5">
<div class="col-md pt-5">
<div class="ftco-footer-widget pt-md-5 mb-4">
<h2 class="ftco-heading-2">About</h2>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
<ul class="ftco-footer-social list-unstyled float-md-left float-lft">
<li class="animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
<li class="animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
<li class="animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
</ul>
</div>
</div>
<div class="col-md pt-5">
<div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
<h2 class="ftco-heading-2">Help Desk</h2>
<ul class="list-unstyled">
<li class="py-2 d-block " style="color: white;">Customer Care</li>
<li class="py-2 d-block " style="color: white;">Legal Help</li>
<li class="py-2 d-block " style="color: white;">Services</li>
<li class="py-2 d-block " style="color: white;">Privacy and Policy</li>
<li class="py-2 d-block " style="color: white;">Refund Policy</li>
<li class="py-2 d-block " style="color: white;">Call Us</li>
</ul>
</div>
</div>
<div class="col-md pt-5">
<div class="ftco-footer-widget pt-md-5 mb-4">
<h2 class="ftco-heading-2">Recent Courses</h2>
<ul class="list-unstyled">
	{% for obj in programs %}
<li class="py-2 d-block " style="color: white;">{{obj.program}}</li>
	{% endfor %}

</ul>
</div>
</div>
<div class="col-md pt-5">
<div class="ftco-footer-widget pt-md-5 mb-4">
<h2 class="ftco-heading-2">Have a Questions?</h2>
<div class="block-23 mb-3">
<ul>
<li><span class="icon fa fa-map-marker"></span><span class="text">No 3 Illechukwu Street , New GRA, Enugu Nigeria</span></li>
<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+234 708 542 751</span></a></li>
<li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">olaprep@gmail.com</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 text-center">
<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
</div>
</div>
</div>
</footer>